body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Zilla Slab', serif;
}
.header{
    background-color: #264653;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header button{
    width: 150px;
    height: 50px;
    background-color: rgb(42, 192, 94);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #3e3f3c;
    font-size: 1.2rem;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
}
.header button:hover{
    background-color: rgb(9, 220, 83);
}


.content{
    background-color: #fefae0;
    color: #000;
}
.content #form{
    top: 0;
    left: 0;
}
.show{
    visibility: visible;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 5; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.hide{
    display: none;
}

input,
button,
label{
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    border: none;
}

form{
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 30px;
    color: white;
    margin-top: 5%;
    z-index: 9999;
    border: 2px solid rgba(255,255,255, .4);
    box-shadow: 0 0 5px #9e9b9b;
}
form > p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

input:not(input[type="checkbox"]){
    height: 45px;
    margin-bottom: 25px;
    border-radius: 10px;
    outline: none;
    padding: 3px 8px;
    caret-color: rgb(41, 90, 163);
}
label{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3px;
    margin-left: 8px;
}

form button{
    height: 50px;
    background-color: rgba(25, 130, 196,0.8);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px #264653;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
    margin-top: 5px;
}
form div{
    position: relative;
    display: flex;
    column-gap: 8px;
}
input[type="checkbox"]{
    margin-bottom: 9px;
    appearance: none;
    padding: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px rgb(255, 255, 255);
}

input[type="checkbox"]:checked + label::before{
    content: "✔️";
    position: absolute;
    left: 2.3px;
    top: 2px;
    z-index: 2;
}
input[type="checkbox"]:checked{
    background-color: #61a2ca;
    box-shadow: 0 0 5px #264653;
}
input[type="checkbox"] ~ label{
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2px;
    margin-left: 0;
}
input::placeholder{
    font-size: 0.9rem;
    color: rgb(45, 88, 151)
}
button:hover{
    cursor: pointer;
}

.container{
    display: flex;
    padding: 30px;
    gap: 20px;
}

table{
    width: 75%;
    margin: 30px auto;
}
thead{
    height: 50px;
    background-color: #27272b;
    color: white;
}
tr{
    height: 40px;
}
td{
    text-align: center;
    padding: 0 5px;
}
td:nth-child(-n + 2){
    text-align: left;
}
td:nth-child(3){
    text-align: right;
}
tr:nth-child(2n){
    background-color: #e5e5e5;
}


table button{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 4px #cbcbcb;
    color: white;
}

.not-readed{
    background-color: rgb(192, 171, 33);
}
.not-readed:hover{
    background-color: rgb(221, 192, 3);
}
.readed{
    background-color: rgb(29, 184, 83);
}
.readed:hover{
    background-color: rgb(9, 224, 84);
}
table td:last-child button{
    background-color: rgb(245, 40, 40);
}
table td:last-child button:hover{
    background-color: rgb(251, 8, 8);
}
caption{
    font-size: 1.5rem;
    font-weight: 600;
}




