body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #264653;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header button{
    width: 150px;
    height: 50px;
    background-color: #8ac926;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #8ac926;
    font-size: 1.2rem;
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
}


.content{
    background-color: #fefae0;
    color: #000;
}

input,
button,
label{
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    color: white;
    margin-top: 5%;
}
form > p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

input:not(input[type="checkbox"]){
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    padding: 3px 8px;
}
label{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 3px;
}

form button{
    height: 40px;
    background-color: #1982c4;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #264653;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600;
}
form div{
    position: relative;
    display: flex;
    column-gap: 8px;
}
input[type="checkbox"]{
    margin-bottom: 10px;
    appearance: none;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px gray;
}

input[type="checkbox"]:checked + label::before{
    content: "✔️";
    position: absolute;
    left: 1.5px;
    z-index: 2;
}
input[type="checkbox"] ~ label{
    font-size: 1.1rem;
    font-weight: 400;
}





