body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #264653;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header button{
    width: 150px;
    height: 50px;
    background-color: #8ac926;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px #8ac926;
    font-size: 1rem;
    padding: 10px 20px;
}


.content{
    background-color: #fefae0;
    height: 85vh;
    color: #000;
}